{% extends "base.html" %}

{% block title %}
    Lists
{% endblock %}

{% block main %}
    <h1>Lists 📃</h1>
    <button class="btn btn-primary"><a href="/new-list">Make a List</a></button>
    <div class="gallery">
        {% for list_name, list in lists.items() %}
            <div class="grocery-list" id={{'list-' ~ loop.index}}>
                <h3>{{ list_name }}</h3>
                <p class="date">Written on {{ list.date }}</p>
                <ul>
                    {% for item in list.list_items %}
                        <li><a href="/"><img src="/static/check-circle.svg"></a>{{ item.item_name }} {{ item.price|dollar }} </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    {% if not lists %}
        <p>Don't have any yet? Let's make one!</p>
    {% endif %}
    </div>
{% endblock %}