{% extends "base.html" %}

{% block title %}
    Pantry
{% endblock %}

{% block main %}
    <h1>Pantry</h1>
    {% if pantry_name %}
    <div class="gallery">
        <div class="storage">
            <h3>{{ pantry_name }}</h3>
            <ul>
                {% for item in pantry_items %}
                <li>{{ item.item_name}} {{ item.price|dollar }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <p>Your pantry is empty right now.</p>
    {% endif %}
{% endblock %}