{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" autocomplete="off">
        <input autocomplete="false" name="hidden" type="text" style="display: none;">
        <div class="form-group">
            {% if entered_username %}
            <input required class="form-control" name="username" placeholder="Username" type="text" maxlength="20" value={{ entered_username }}>
            {% else %}
            <input required class="form-control" name="username" placeholder="Username" type="text" maxlength="20">
            {% endif %}
        </div>
        <div class="form-group">
            <input required class="form-control" name="password" placeholder="Password" type="password">
            <input required class="form-control" name="confirm-password" placeholder="Confirm Password" type="password" autocomplete="off">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}